body {
        background:
            linear-gradient(217deg, rgba(255, 0, 157, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(225, 0, 255, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(2, 255, 255, 0.74), rgba(0,0,255,0) 70.71%);
}
footer {
    text-align: center;
    margin: 20px;
}
.table-box {
    background: transparent;
}
tr {
    margin: 8px;
}
.card {
    background: transparent;
    margin: 3px;
}
.title {
    background: transparent;
   height: 100px;
}
.title-h {
    color: rgb(73, 219, 255);
    text-align: center;
    font-size: 50px;
}

#submit {
    width:100%;
}
#infosection {
    padding-top: 20px;
}
#cityinput{
    width: auto;
}
#weatherdata {
    background: transparent;
}